.animation-area {
    background: linear-gradient(to left, #ff2b32, #ba382f);
    width: 100%;
    height: 100vh;
}
.animation-area {
    background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 20px ),linear-gradient(to left, #ff2b32, #ba382f)
}
